[Unit]
Description=Emacs service

Before=graphical.target
After=xsettings.target
After=xorg-base.target

Requires=xorg-base.target

[Service]
ExecStart=/usr/bin/emacs -mm

[Install]
WantedBy=graphical.target
