[Unit]
Description=Firefox service

Before=graphical.target
After=xsettings.target
After=xorg-base.target

Requires=xorg-base.target

[Service]
ExecStart=/usr/sbin/firefox

[Install]
WantedBy=graphical.target
