[Unit]
Description=IR Exec service
Before=default.target
# After=lirc.service
# Wants=lirc.service

[Service]
Type=forking
ExecStart=/usr/bin/irexec --daemon

[Install]
WantedBy=default.target
