[Unit]
Description=mosdd service (display %i)
StopWhenUnneeded=true

After=x@%i.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mosdd --script=%h/config/osdrc
ExecStop=/usr/local/bin/mosdctl -x
KillMode=none
Environment=DISPLAY=:%i

[Install]
WantedBy=gui@%i.target
