[Unit]
Description=Numlockx service - turn NumLock ON

Before=xsettings.target
After=xorg-base.target

Requires=xorg-base.target

[Service]
Type=oneshot
ExecStart=/usr/bin/numlockx on

[Install]
WantedBy=xsettings.target
