[Unit]
Description=PulseAudio service
After=xorg.target
After=dbus.socket
Wants=xorg.target
Wants=dbus.socket

[Service]
Type=forking
ExecStart=/usr/bin/start-pulseaudio-x11
# ExecStart=/usr/bin/pulseaudio --start
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=default.target
