[Unit]
Description=Stumpwm service

Before=wm.target
After=xsettings.target
After=xorg-base.target

Requires=xorg-base.target

Conflicts=awesome.service
Conflicts=openbox.service
Conflicts=lxde.service

[Service]
ExecStart=/usr/local/bin/stumpwm
Restart=on-failure
RestartSec=1

[Install]
WantedBy=wm.target
