[Unit]
Description=Xorg base configuration target

Before=graphical.target
After=xorg.target
After=dbus.socket
After=gpg-agent.service

Requires=xorg.target
Wants=dbus.socket

# AllowIsolate=yes

[Install]
WantedBy=graphical.target
