[Unit]
Description=X resource database (xrdb) service

Before=xsettings.target
After=xorg-base.target

Requires=xorg-base.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge %h/.Xresources

[Install]
WantedBy=xsettings.target
