[Unit]
Description=Xsetroot service (display %i)

Before=xbase@%i.target
After=x@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xsetroot -solid gray30 -xcf %h/.icons/ComixCursors-Opaque-Green-Regular-Slim/cursors/cell 1
Environment=DISPLAY=:%i

[Install]
WantedBy=xbase@%i.target
